// Main Page Stylesheet

//Color Palette
$primary-color: #BF5700
$secondary-color: #666666

.nav-wrapper
  .nav-logo
    width: 12rem
    margin-top: 0.5em
    margin-left: 1em

.section-1
  padding-top: 5em
  padding-bottom: 5em

.section-2
  background-color: $primary-color
  padding-top: 5em
  padding-bottom: 5em
